<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152568960392-mcj89qu67reh62rlfauth5rl0gb7dse8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152568960392-mcj89qu67reh62rlfauth5rl0gb7dse8</string>
	<key>API_KEY</key>
	<string>AIzaSyBuMCjAKPtnjT4JvxSJPMAxBrMINFMSXAE</string>
	<key>GCM_SENDER_ID</key>
	<string>152568960392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coolapp</string>
	<key>PROJECT_ID</key>
	<string>coolapp-2c678</string>
	<key>STORAGE_BUCKET</key>
	<string>coolapp-2c678.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152568960392:ios:35cc2f263624b7dba9d63d</string>
</dict>
</plist>